{
    "openapi": "3.0.0",
    "info": {
        "title": "Rohit Api Documentation",
        "contact": {
            "name": "developer",
            "email": "rohit7305.rk@gmail.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        },
        {
            "url": "http://localhost/whizzer-yii2-1836-master/api",
            "description": "local server"
        },
        {
            "url": "http://192.168.12.233/whizzer-yii2-1836/api",
            "description": "local server"
        },
        {
            "url": "http://192.168.11.130/whizzer-yii2-1836/api",
            "description": "local server"
        },
        {
            "url": "http://192.168.11.243/whizzer-yii2-1836/api",
            "description": "local server"
        },
        {
            "url": "http://192.168.2.190/whizzer-yii2-1836/api",
            "description": "local server"
        },
        {
            "url": "http://192.168.2.67/whizzer-yii2-1836/api",
            "description": "local server"
        }
    ],
    "paths": {
        "/user/register": {
            "post": {
                "tags": [
                    "users"
                ],
                "summary": "user register",
                "description": "user register",
                "operationId": "userRegister",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "first_name",
                                    "email",
                                    "password",
                                    "last_name"
                                ],
                                "properties": {
                                    "first_name": {
                                        "type": "string",
                                        "format": "name",
                                        "example": "test"
                                    },
                                    "last_name": {
                                        "type": "string",
                                        "format": "name",
                                        "example": "test"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user1@mail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password2"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "400": {
                        "description": "Validator Error"
                    },
                    "401": {
                        "description": "Authentication Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "User register successfully"
                                        },
                                        "user": {
                                            "type": "string",
                                            "example": "User details"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/user/login": {
            "post": {
                "tags": [
                    "users"
                ],
                "summary": "user login",
                "description": "user login",
                "operationId": "userLogin",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password",
                                    "device_token",
                                    "device_name",
                                    "device_type"
                                ],
                                "properties": {
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "admin@123"
                                    },
                                    "email": {
                                        "type": "email",
                                        "format": "email",
                                        "example": "sagar@gmail.in"
                                    },
                                    "device_token": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "DVtoken"
                                    },
                                    "device_name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "DVname"
                                    },
                                    "device_type": {
                                        "type": "integer",
                                        "format": "string",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "Validator Error"
                    },
                    "401": {
                        "description": "Authentication Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "login successfully"
                                        },
                                        "user": {
                                            "type": "string",
                                            "example": "User details"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/user/check": {
            "get": {
                "tags": [
                    "users"
                ],
                "summary": "",
                "operationId": "userCheck",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "User Data!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "data Not Found!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/user/verify_otp": {
            "post": {
                "tags": [
                    "users"
                ],
                "summary": "user otp verification",
                "description": "user verify",
                "operationId": "user_verify_otp",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "otp",
                                    "phone",
                                    "country_code"
                                ],
                                "properties": {
                                    "otp": {
                                        "type": "integer",
                                        "format": "number",
                                        "example": "1234"
                                    },
                                    "phone": {
                                        "description": "conatct number",
                                        "type": "string",
                                        "format": "number",
                                        "example": "34534534535"
                                    },
                                    "country_code": {
                                        "description": "country code",
                                        "type": "integer",
                                        "format": "number",
                                        "example": "91"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Otp verified"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/user/password/forgot": {
            "post": {
                "tags": [
                    "users"
                ],
                "summary": "user forget password",
                "description": "user forget password",
                "operationId": "user_forget_password",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "email",
                                        "format": "email",
                                        "example": "hello@gmail.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "We have emailed you password reset link!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/user/resend_otp": {
            "post": {
                "tags": [
                    "users"
                ],
                "summary": "user resend otp",
                "description": "user reset otp",
                "operationId": "userReset",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "otp"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user1@mail.com"
                                    },
                                    "phone_number": {
                                        "type": "string",
                                        "example": "123455"
                                    },
                                    "otp": {
                                        "type": "string",
                                        "example": "1234"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "Otp is sent successfully!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/user/profile/update": {
            "post": {
                "tags": [
                    "users"
                ],
                "summary": " user profile update",
                "description": "user profile update",
                "operationId": "userProfileUpdate",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "profile_picture",
                                    "dob",
                                    "phone_number",
                                    "first_name",
                                    "last_name",
                                    "country_code",
                                    "country",
                                    "gender"
                                ],
                                "properties": {
                                    "profile_picture": {
                                        "description": "file to upload",
                                        "type": "file"
                                    },
                                    "phone_number": {
                                        "type": "string",
                                        "example": "123455"
                                    },
                                    "first_name": {
                                        "type": "string",
                                        "example": "arun"
                                    },
                                    "last_name": {
                                        "type": "string",
                                        "example": "kumar"
                                    },
                                    "country_code": {
                                        "type": "string",
                                        "example": "91"
                                    },
                                    "country": {
                                        "type": "number",
                                        "example": "india"
                                    },
                                    "gender": {
                                        "description": " 1 for male and 2 for female",
                                        "type": "number",
                                        "example": "1"
                                    },
                                    "dob": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "1988-01-01"
                                    },
                                    "address_one": {
                                        "type": "string",
                                        "example": "address_one"
                                    },
                                    "address_two": {
                                        "type": "string",
                                        "example": "address_two"
                                    },
                                    "state": {
                                        "type": "string",
                                        "example": "state"
                                    },
                                    "city": {
                                        "type": "string",
                                        "example": "cityName"
                                    },
                                    "zip": {
                                        "type": "string",
                                        "example": "zip"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "Profile  Updated successfully!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/user/change-password": {
            "post": {
                "tags": [
                    "users"
                ],
                "summary": " user change password",
                "description": "user change password",
                "operationId": "userChangePassword",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "old-password",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "old-password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "secret123"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "secret1234"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "secret1234"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "Password  Updated successfully!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/user/logout": {
            "get": {
                "tags": [
                    "users"
                ],
                "summary": "",
                "operationId": "userLogout",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "User Data!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "data Not Found!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/user/page": {
            "get": {
                "tags": [
                    "users"
                ],
                "summary": "",
                "operationId": "f826724a0ce2b38a6d561b414f9a8b19",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "\n     *       TYPE_PRIVACY = 1,\n     *       TYPE_TERM_CONDITION = 2,\n     *       TYPE_ABOUT_US = 3,\n     * ",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "page info",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/user/address/add": {
            "post": {
                "tags": [
                    "users"
                ],
                "summary": "",
                "operationId": "addAddress",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "address",
                                    "city",
                                    "state",
                                    "country",
                                    "postal_code",
                                    "longitude",
                                    "latitude",
                                    "address_type"
                                ],
                                "properties": {
                                    "address": {
                                        "type": "string",
                                        "example": "address"
                                    },
                                    "address_two": {
                                        "type": "string",
                                        "example": "address_two"
                                    },
                                    "city": {
                                        "type": "string",
                                        "example": "city"
                                    },
                                    "state": {
                                        "type": "string",
                                        "example": "state"
                                    },
                                    "country": {
                                        "type": "string",
                                        "example": "countryName"
                                    },
                                    "postal_code": {
                                        "type": "integer",
                                        "example": "112233"
                                    },
                                    "longitude": {
                                        "type": "string",
                                        "example": "-25.89"
                                    },
                                    "latitude": {
                                        "type": "string",
                                        "example": "126.79"
                                    },
                                    "address_type": {
                                        "type": "integer",
                                        "example": "0 for home 1 for office"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "Address Added successfully!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/user/address-list": {
            "get": {
                "tags": [
                    "users"
                ],
                "summary": "",
                "operationId": "AddressList",
                "responses": {
                    "200": {
                        "description": "Service object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "user_id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "address": {
                                            "type": "string",
                                            "example": "address"
                                        },
                                        "address_two": {
                                            "type": "string",
                                            "example": "address two"
                                        },
                                        "city": {
                                            "type": "string",
                                            "example": "city"
                                        },
                                        "state": {
                                            "type": "string",
                                            "example": "state"
                                        },
                                        "country": {
                                            "type": "string",
                                            "example": "country"
                                        },
                                        "postal_code": {
                                            "type": "string",
                                            "example": "115577"
                                        },
                                        "latitude": {
                                            "type": "string",
                                            "example": "-124.56"
                                        },
                                        "longitude": {
                                            "type": "string",
                                            "example": "25.89"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/user/address/delete": {
            "get": {
                "tags": [
                    "users"
                ],
                "summary": "",
                "operationId": "AddressDelete",
                "parameters": [
                    {
                        "name": "address_id",
                        "in": "query",
                        "description": "address id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Service object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Address Deleted Successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/user/address/update": {
            "post": {
                "tags": [
                    "users"
                ],
                "summary": "",
                "operationId": "updateAddress",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "address_id",
                                    "address",
                                    "city",
                                    "state",
                                    "country",
                                    "postal_code",
                                    "longitude",
                                    "latitude",
                                    "address_type"
                                ],
                                "properties": {
                                    "address_id": {
                                        "type": "integer",
                                        "example": "1"
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "address"
                                    },
                                    "address_two": {
                                        "type": "string",
                                        "example": "address_two"
                                    },
                                    "city": {
                                        "type": "string",
                                        "example": "city"
                                    },
                                    "state": {
                                        "type": "string",
                                        "example": "state"
                                    },
                                    "country": {
                                        "type": "string",
                                        "example": "countryName"
                                    },
                                    "postal_code": {
                                        "type": "integer",
                                        "example": "112233"
                                    },
                                    "longitude": {
                                        "type": "string",
                                        "example": "-25.89"
                                    },
                                    "latitude": {
                                        "type": "string",
                                        "example": "126.79"
                                    },
                                    "address_type": {
                                        "type": "integer",
                                        "example": "0 for home 1 for office"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "Address Updated successfully!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/booking/service-provider-list": {
            "get": {
                "tags": [
                    "booking"
                ],
                "operationId": "providers",
                "responses": {
                    "200": {
                        "description": "Service Provider List",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "service one"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/booking/service": {
            "post": {
                "tags": [
                    "booking"
                ],
                "summary": "",
                "operationId": "addBooking",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "date",
                                    "time_start",
                                    "address_id",
                                    "mobile",
                                    "type_id"
                                ],
                                "properties": {
                                    "type_id": {
                                        "type": "integer",
                                        "format": "number",
                                        "example": "1 for service 2 for event"
                                    },
                                    "service_id": {
                                        "type": "integer",
                                        "format": "number",
                                        "example": "12"
                                    },
                                    "service_cat": {
                                        "type": "integer",
                                        "format": "number",
                                        "example": "1"
                                    },
                                    "service_sub_cat": {
                                        "type": "integer",
                                        "format": "number",
                                        "example": "2"
                                    },
                                    "addon": {
                                        "type": "string",
                                        "example": "[{'id':1, 'qty':1},{'id':2, 'qty':2},{'id':3, 'qty':3},{'id':4, 'qty':5}]"
                                    },
                                    "sub_services": {
                                        "type": "string",
                                        "example": "[{'id':1, 'qty':1},{'id':2, 'qty':2},{'id':3, 'qty':3},{'id':4, 'qty':5}]"
                                    },
                                    "instruction": {
                                        "type": "text",
                                        "format": "text",
                                        "example": "Write the Instructions"
                                    },
                                    "date": {
                                        "type": "string",
                                        "format": "number",
                                        "example": "2022-10-10"
                                    },
                                    "time_start": {
                                        "type": "string",
                                        "format": "number",
                                        "example": "10:10"
                                    },
                                    "time_end": {
                                        "type": "string",
                                        "format": "number",
                                        "example": "10:10"
                                    },
                                    "address_id": {
                                        "type": "integer",
                                        "format": "number",
                                        "example": "24"
                                    },
                                    "mobile": {
                                        "type": "string",
                                        "example": "9187678965"
                                    },
                                    "promo_id": {
                                        "type": "string",
                                        "format": "number",
                                        "example": "promoCode"
                                    },
                                    "event_id": {
                                        "type": "integer",
                                        "format": "number",
                                        "example": "24"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": " successfully!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "Profile  Updated successfully!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/booking/edit-cart": {
            "post": {
                "tags": [
                    "booking"
                ],
                "summary": "",
                "operationId": "editCartItem",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "date",
                                    "time_start",
                                    "address_id",
                                    "mobile",
                                    "type_id",
                                    "booking_id"
                                ],
                                "properties": {
                                    "booking_id": {
                                        "type": "integer",
                                        "format": "number",
                                        "example": "1"
                                    },
                                    "addon": {
                                        "type": "string",
                                        "example": "[{'id':1, 'qty':1},{'id':2, 'qty':2},{'id':3, 'qty':3},{'id':4, 'qty':5}]"
                                    },
                                    "sub_services": {
                                        "type": "string",
                                        "example": "[{'id':1, 'qty':1},{'id':2, 'qty':2},{'id':3, 'qty':3},{'id':4, 'qty':5}]"
                                    },
                                    "instruction": {
                                        "type": "text",
                                        "format": "text",
                                        "example": "Write the Instructions"
                                    },
                                    "date": {
                                        "type": "string",
                                        "format": "number",
                                        "example": "2022-10-10"
                                    },
                                    "time_start": {
                                        "type": "string",
                                        "format": "number",
                                        "example": "10:10"
                                    },
                                    "time_end": {
                                        "type": "string",
                                        "format": "number",
                                        "example": "10:10"
                                    },
                                    "address_id": {
                                        "type": "integer",
                                        "format": "number",
                                        "example": "24"
                                    },
                                    "mobile": {
                                        "type": "string",
                                        "example": "9187678965"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": " successfully!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "Profile  Updated successfully!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/booking/service-provider": {
            "post": {
                "tags": [
                    "booking"
                ],
                "summary": "",
                "operationId": "serviceProviderBooking",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "date",
                                    "time_start",
                                    "address_id",
                                    "mobile",
                                    "type_id",
                                    "service_provider_id"
                                ],
                                "properties": {
                                    "service_provider_id": {
                                        "type": "integer",
                                        "format": "number",
                                        "example": "1"
                                    },
                                    "type_id": {
                                        "type": "integer",
                                        "format": "number",
                                        "example": "1 for service 2 for event"
                                    },
                                    "service_id": {
                                        "type": "integer",
                                        "format": "number",
                                        "example": "12"
                                    },
                                    "service_cat": {
                                        "type": "integer",
                                        "format": "number",
                                        "example": "1"
                                    },
                                    "service_sub_cat": {
                                        "type": "integer",
                                        "format": "number",
                                        "example": "2"
                                    },
                                    "addon": {
                                        "type": "string",
                                        "example": "[{'id':1, 'qty':1},{'id':2, 'qty':2},{'id':3, 'qty':3},{'id':4, 'qty':5}]"
                                    },
                                    "sub_services": {
                                        "type": "string",
                                        "example": "[{'id':1, 'qty':1},{'id':2, 'qty':2},{'id':3, 'qty':3},{'id':4, 'qty':5}]"
                                    },
                                    "instruction": {
                                        "type": "text",
                                        "format": "text",
                                        "example": "Write the Instructions"
                                    },
                                    "date": {
                                        "type": "string",
                                        "format": "number",
                                        "example": "2022-10-10"
                                    },
                                    "time_start": {
                                        "type": "string",
                                        "format": "number",
                                        "example": "10:10"
                                    },
                                    "time_end": {
                                        "type": "string",
                                        "format": "number",
                                        "example": "10:10"
                                    },
                                    "address_id": {
                                        "type": "integer",
                                        "format": "number",
                                        "example": "24"
                                    },
                                    "mobile": {
                                        "type": "string",
                                        "example": "9187678965"
                                    },
                                    "promo_id": {
                                        "type": "string",
                                        "format": "number",
                                        "example": "promoCode"
                                    },
                                    "event_id": {
                                        "type": "integer",
                                        "format": "number",
                                        "example": "24"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": " successfully!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "Profile  Updated successfully!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/booking/add-cart": {
            "post": {
                "tags": [
                    "booking"
                ],
                "summary": "",
                "operationId": "addBookingToCart",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "date",
                                    "time_start",
                                    "address_id",
                                    "mobile",
                                    "type_id"
                                ],
                                "properties": {
                                    "type_id": {
                                        "type": "integer",
                                        "format": "number",
                                        "example": "1 for service 2 for event"
                                    },
                                    "service_id": {
                                        "type": "integer",
                                        "format": "number",
                                        "example": "12"
                                    },
                                    "service_cat": {
                                        "type": "integer",
                                        "format": "number",
                                        "example": "1"
                                    },
                                    "service_sub_cat": {
                                        "type": "integer",
                                        "format": "number",
                                        "example": "2"
                                    },
                                    "addon": {
                                        "type": "string",
                                        "example": "[{'id':1, 'qty':1},{'id':2, 'qty':2},{'id':3, 'qty':3},{'id':4, 'qty':5}]"
                                    },
                                    "sub_services": {
                                        "type": "string",
                                        "example": "[{'id':1, 'qty':1},{'id':2, 'qty':2},{'id':3, 'qty':3},{'id':4, 'qty':5}]"
                                    },
                                    "instruction": {
                                        "type": "text",
                                        "format": "text",
                                        "example": "Write the Instructions"
                                    },
                                    "date": {
                                        "type": "string",
                                        "format": "number",
                                        "example": "2022-10-10"
                                    },
                                    "time_start": {
                                        "type": "string",
                                        "format": "number",
                                        "example": "10:10"
                                    },
                                    "time_end": {
                                        "type": "string",
                                        "format": "number",
                                        "example": "10:10"
                                    },
                                    "address_id": {
                                        "type": "integer",
                                        "format": "number",
                                        "example": "24"
                                    },
                                    "mobile": {
                                        "type": "string",
                                        "example": "9187678965"
                                    },
                                    "event_id": {
                                        "type": "integer",
                                        "format": "number",
                                        "example": "24"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": " successfully!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "Profile  Updated successfully!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/booking/remove-cart": {
            "get": {
                "tags": [
                    "booking"
                ],
                "summary": "",
                "operationId": "removeBookingFromCart",
                "parameters": [
                    {
                        "name": "booking_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Service object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "user_id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "service_id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "category_id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "subcategory_id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "date": {
                                            "type": "string",
                                            "example": "2022:10:10"
                                        },
                                        "time_start": {
                                            "type": "string",
                                            "example": "10:10"
                                        },
                                        "time_end": {
                                            "type": "string",
                                            "example": "10:10"
                                        },
                                        "address_id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "instruction": {
                                            "type": "text",
                                            "example": "This is instructions"
                                        },
                                        "type_id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "state_id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "mobile": {
                                            "type": "string",
                                            "example": "9876543210"
                                        },
                                        "coupon_id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "event_id": {
                                            "type": "integer",
                                            "example": "1"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/booking/book-cart": {
            "post": {
                "tags": [
                    "booking"
                ],
                "summary": "",
                "operationId": "bookCartItems",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "promo_id": {
                                        "type": "integer",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Service object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "user_id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "service_id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "category_id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "subcategory_id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "date": {
                                            "type": "string",
                                            "example": "2022:10:10"
                                        },
                                        "time_start": {
                                            "type": "string",
                                            "example": "10:10"
                                        },
                                        "time_end": {
                                            "type": "string",
                                            "example": "10:10"
                                        },
                                        "address_id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "instruction": {
                                            "type": "text",
                                            "example": "This is instructions"
                                        },
                                        "type_id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "state_id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "mobile": {
                                            "type": "string",
                                            "example": "9876543210"
                                        },
                                        "coupon_id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "event_id": {
                                            "type": "integer",
                                            "example": "1"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/booking/cart/detail": {
            "get": {
                "tags": [
                    "booking"
                ],
                "summary": "",
                "operationId": "cartDetail",
                "parameters": [
                    {
                        "name": "booking_id",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Service object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "user_id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "service_id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "category_id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "subcategory_id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "date": {
                                            "type": "string",
                                            "example": "2022:10:10"
                                        },
                                        "time_start": {
                                            "type": "string",
                                            "example": "10:10"
                                        },
                                        "time_end": {
                                            "type": "string",
                                            "example": "10:10"
                                        },
                                        "address_id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "instruction": {
                                            "type": "text",
                                            "example": "This is instructions"
                                        },
                                        "type_id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "state_id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "mobile": {
                                            "type": "string",
                                            "example": "9876543210"
                                        },
                                        "coupon_id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "event_id": {
                                            "type": "integer",
                                            "example": "1"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/booking/detail": {
            "get": {
                "tags": [
                    "booking"
                ],
                "summary": "",
                "operationId": "bookingDetail",
                "parameters": [
                    {
                        "name": "order_id",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "show_id",
                        "in": "query",
                        "schema": {
[...]
